/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* mat-progress-spinner {
  position: absolute;
  margin-top: 50%;
  left: 38%;
}

.mat-card {
  border: -30px solid rgba(255, 255, 255, 0) !important;
  border-radius: 10px !important;
}

.mat-card-header {
  border: 5px solid rgba(255, 255, 255, 0) !important;
  border-radius: 10px !important;
}

.mat-card-header .mat-card-title {
  margin: 5px 0 2px -10px !important;
}

.mat-card-header .mat-card-subtitle {
  margin: 5px 10px 2px 0px !important;
}

.mat-grid-tile-content {
  justify-content: left !important;
  margin-left: 15px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.mat-list-base {
  padding: 0 !important;
  margin-bottom: 0px;
}

.mat-expansion-panel-header {
  margin-bottom: 5px !important;
  border-radius: 10px !important;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  background-color: #003d79 !important;
}

.mat-expansion-panel {
  border-radius: 10px !important;
}

.mat-expansion-panel-body {
  padding: 0 16px 0 16px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 30px !important;
} */
