<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="text-center not-found-gif">
                <img src="../../../assets/images/unauthorized-image.gif" alt="page not found gif">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">Look like you're have no permission</h3>
            <p class="text-center">To access this pages!</p>
        </div>
    </div>
</div>